
.card{
    border: none;
}

.edit-btns{
    float: right;
    width: 300px;
}

.btn-save{
    float: left;
    width: 48%;
    margin-right: 1%;
}

.btn-cancel{
    float: right;
    width: 48%;
    margin-left: 1%;
    margin-top: 0;
}